@font-face {
  font-family: 'Open Sans', sans-serif;    
}

/* CSS reset */

ol,ul {
	list-style:none;
}

/* General Demo Style */
body{
	font-family: 'Open Sans', sans-serif;
	background: #000;
	font-weight: 400;
	font-size: 14px;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Media Queries */


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
    padding-left:20px;
    z-index: 1000;
    position: fixed;
    background-color:pink;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
    opacity: 0;
    color: black;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div p { 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 0;
    line-height: 50px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(https://lh3.googleusercontent.com/-h9FWZI_MXBY/WAOJm47VEHI/AAAAAAAAdaQ/UMo0LSKuHlA576rWGypHlgNwt6C-hojhACHM/s1600/40150.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(https://lh3.googleusercontent.com/-G8NybLm-IwE/WAOJmx69Z4I/AAAAAAAAdaQ/mnPczdsWjFUcEpBq1jCu2gAVpI9mKU1VgCHM/s1600/40149.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(https://lh3.googleusercontent.com/-h9FWZI_MXBY/WAOJm47VEHI/AAAAAAAAdaQ/UMo0LSKuHlA576rWGypHlgNwt6C-hojhACHM/s1600/40150.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(https://lh3.googleusercontent.com/-G8NybLm-IwE/WAOJmx69Z4I/AAAAAAAAdaQ/mnPczdsWjFUcEpBq1jCu2gAVpI9mKU1VgCHM/s1600/40149.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(https://lh3.googleusercontent.com/-h9FWZI_MXBY/WAOJm47VEHI/AAAAAAAAdaQ/UMo0LSKuHlA576rWGypHlgNwt6C-hojhACHM/s1600/40150.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(https://lh3.googleusercontent.com/-G8NybLm-IwE/WAOJmx69Z4I/AAAAAAAAdaQ/mnPczdsWjFUcEpBq1jCu2gAVpI9mKU1VgCHM/s1600/40149.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 735px) {
  #menubuttom{
    font-size:10px;
  }
  
    .cb-slideshow li div h3 { font-size:  }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: }
}



/**/

#menu{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;  
  height:110px;
}

#trademark{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  padding-left:30px;
  padding-top:20px;
  width:100%;
  
}

#menubuttom{
  font-size:20px;
  font-weight:700;
  background-color:black;
  position:fixed;
  width:400px;
  right:0;  
  top:35px;
    
}

a{text-decoration: none;}

#menubuttom a:hover{
  text-decoration:underline;
}

#menubuttom a{
  color:white;
  margin:10px 10px 10px 10px;}

.line{
  height:2px;
  background-color:white;
  position:relative;
  top:70px;
  }

#subtrademark{
  position:relative;
  top:80px;
  left:0;
  padding-left:30px;
  
}




